@tailwind base;
@tailwind components;
@tailwind utilities;
h1{
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
th, td {
  border: 2px solid #000;
  padding: 10px;
  text-align: left;
}
td:first-child{
  font-size: 18px;
}
th {
  font-size: 20px;
  background-color: #f4f4f4;
}
